.quoteCart {
  margin: 0 auto;
  color: white;
  min-width: 20rem;
  max-width: 100%;
  padding: 1rem;
  width: 37%;
  /* background: linear-gradient(260deg, #9b6c50 0%, #4f2626 100%); */
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  font-family: monospace;
  text-align: left;
}
