.footer {
  text-align: center;
  margin-top: 10rem;
  font-family: cursive;
  animation: moveInBottom 0.8s ease-out 0.75s;
  animation-fill-mode: backwards;
  color: #fff;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.copyright {
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  font-size: 0.7rem;
  padding: 0 3.5rem;
  position: sticky;
  top: 92%;
}
